<!-- Portfolio Grid Section -->
<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-iso.min.css"> -->

<!-- <select class="portfolio-select">
    <option value="all">All</option>
    <option value="raf">Robot-Assisted Feeding</option>
    <option value="cast">Casting</option>
    <option value="path">Path Planning</option>
    <option value="research">Research</option>
    <option value="fun">For Fun</option>
</select> -->

<div class="portfolio-grid">
    {% for item in site.portfolio %}
        {% if item.hide != true %}
            <div class="portfolio-cell">
                <a class="portfolio-link" data-keyboard="true" href="{{ item.url | relative_url}}">
                    <div class="caption" title="{{ item.title }}">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-2x" style="margin: 0 auto"><br>{{item.title}}</i>
                        </div>
                    </div>
                    <img alt="" class="rounded-corners" src="{{ item.img | relative_url }}">
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>

<!-- <script src="../assets/js/partials/selector.js"></script> -->